@use 'sass:math';
@use '../clases_utilitarias/mixins' as m;

// Configuración base de columnas
[class*="col-"] {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

// 1. Móvil (col-1 a col-12)
@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 auto;
    width: math.percentage(math.div($i, 12));
  }
}

// 2. Tablets (col-md-1 a col-md-12)
@include m.responsive-md {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      flex: 0 0 auto;
      width: math.percentage(math.div($i, 12));
    }
  }
}

// 3. Escritorio / LG (col-lg-1 a col-lg-12)
@include m.responsive-lg {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      flex: 0 0 auto;
      width: math.percentage(math.div($i, 12));
    }
  }
}