@use '../clases_utilitarias/paleta';

$border-radius-sm:   4px;
$border-radius:      10px;
$border-radius-lg:   20px;
$border-radius-full: 50%; 
// Bordes que usan el color de Meliodas por defecto
$border-color:       rgba($ira-meliodas, 0.3);