@use '../clases_utilitarias/tipografia' as t;
@use '../clases_utilitarias/sombras' as s;

@mixin sombras-pecados ($color, $pecado) {
    border: 1px solid $color;
    
    // if para utilizar segun nombre clave
    @if $pecado == "ira" { box-shadow: s.$shadow-ira; }
    @else if $pecado == "codicia"  { box-shadow: s.$shadow-codicia; }
    @else if $pecado == "pereza"   { box-shadow: s.$shadow-pereza;  }
    @else if $pecado == "envidia"  { box-shadow: s.$shadow-envidia; }
    @else if $pecado == "soberbia" { box-shadow: s.$shadow-soberbia;}
    @else if $pecado == "gula"     { box-shadow: s.$shadow-gula;    }
    @else if $pecado == "lujuria"  { box-shadow: s.$shadow-lujuria; }
}

@mixin estilo-texto($tipo) {
    font-size: t.$fs-6;
    line-height: t.$lh-base;
    @if $tipo == "titulo" {
        font-family: t.$font-base;
        text-transform: uppercase;
    } @else {
        font-family: t.$font-body;
    }
}
// Mixin para el contenedor padre
@mixin docs-container-layout {
  display: flex;
  flex-direction: column; // Móvil: Sidebar arriba, Contenido abajo
  min-height: 100vh;

  @media (min-width: 768px) {
    flex-direction: row; // Escritorio: Sidebar izquierda, Contenido derecha
    align-items: flex-start;
  }
}

// Mixin para que el sidebar sea fijo pero respete el espacio
@mixin sidebar-responsive-behavior($header-height: 70px) {
  width: 100%;
  position: sticky;
  top: 0; 
  z-index: 1000;
  
  // En móvil, limitamos su altura para que no ocupe toda la pantalla
  max-height: 40vh; 
  overflow-y: auto;

  @media (min-width: 768px) {
    width: 260px;
    height: calc(100vh - #{$header-height});
    top: $header-height;
    max-height: none;
    flex-shrink: 0;
  }
}